<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Formulario de Alta</h1>
	
	<form th:action="@{/guardar}" method="post" th:object="${persona}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}">
		<p><input type="text" placeholder="Nombre" th:field="*{nombre}"></p>
		<p><input type="text" placeholder="Apellidos" th:field="*{apellidos}"></p>
		<p><input type="file" name="file"></p>
		<p><input type="submit"></p>
	</form>
</body>
</html>